certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==0.12.2
idna==2.6
itsdangerous==1.1.0
Jinja2==2.11.3
jsonify==0.5
MarkupSafe==1.1.0
openweathermapy==0.6.6
pymongo==3.7.2
PyMySQL==0.9.3
requests==2.18.4
selenium==3.141.0
splinter==0.10.0
urllib3==1.22
Werkzeug==0.14.1
